[submodule "DeSurv"]
	path = DeSurv
	url = git@github.com:Vincent-Maladiere/DeSurv.git
[submodule "Inverse-Weighted-Survival-Games"]
	path = Inverse-Weighted-Survival-Games
	url = git@github.com:Vincent-Maladiere/Inverse-Weighted-Survival-Games.git
[submodule "Sumo-Net"]
	path = Sumo-Net
	url = git@github.com:Vincent-Maladiere/Sumo-Net.git
[submodule "auton-survival"]
	path = auton-survival
	url = git@github.com:Vincent-Maladiere/auton-survival.git
